
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@Html.ActionLink("Airlines","Index","Airlines")
@Html.ActionLink("Airplanes", "Index", "Airplanes")
@Html.ActionLink("Airports", "Index", "Airports")
@Html.ActionLink("Flights", "Index", "Flights")